#index .display {
    position: absolute;
    /*position: fixed;*/
    top: 30px;
    left: 30px;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index > .button {
    position: absolute;
    /*position:fixed;*/
    /* #block > .button right position + number of block * width */
    right: 265px;
    bottom: 40px;
    z-index: 4;
}

#index > .button > button {
    width: 80px;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 1.5rem;
}

#index > .button > button.active {
    border-top: 0px;
}