@font-face {
  font-family: stencil;
  src: url('/fonts/Geogrotesque Stencil C-Medium.otf');
}
body{font-family: 'stencil';}

.heading-font{
  font-size: 70px;
  line-height: 1.1em;
  padding: 0px 10px;
}
.text-white{
  color: #FFF;
}
.text-grey{
  color: #666;
}
#sub-heading{
  z-index: 3;
  font-size: 26px;
  color: #666;
  position: fixed;
  left: 280px;
  top: 46px;
  text-transform: uppercase;
}
#block-heading{
  z-index: 3;
  height: 75px;
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: 35px;
}
#block-heading-index{
  z-index: 3;
  height: 75px;
  overflow: hidden;
  position: fixed;
  left: 12px;
  top: 20px;
  color: #666;
}