// semantic ui
$go-red: #db4437;

.flex-space-around { display: flex; justify-content: space-around; }
.flex-start { display: flex; justify-content: flex-start; }

.colour-box { width: 100%; height: 45px; border: 1px solid #CCC; margin: 2px; }
.colour-box.active { border: 2px solid #F00; margin: 0px; }

.text-white { color: #FFF !important; }
.bg-text-white { background-color: #FFF !important; }
.bg-text-black { background-color: #000 !important; }
.bg-zone-grey { background-color: #d6d7d9 !important; color: #FFF; }
.bg-zone-tiffany { background-color: #91cdc6 !important; color: #FFF; }
.bg-zone-red { background-color: #d4441f !important; color: #FFF; }
.bg-zone-blue { background-color: #3f78be !important; color: #FFF; }
.bg-zone-yellow { background-color: #ffc727 !important; color: #000; }
.bg-zone-green { background-color: #01937c !important; color: #FFF; }
.bg-red { background-color: $go-red !important; color: #FFF; }

.bg-grey {
  background-color: #CCC !important;
  color: #000;
}

.pulled.right { float: right;}
.right.aligned { text-align: right;}
.clear { clear: both;}
.hide { display: none;}
.d-inline {display: inline;}

.no-corner { border-radius: 0 !important;}

.mb-0 { margin-bottom: 0 !important;}
.mt-0 { margin-top: 0 !important;}
.mt-1 { margin-top: 2px !important;}
.mt-2 { margin-top: 5px !important;}
.mt-3 { margin-top: 13px !important;}
.mt-4 { margin-top: 20px !important;}
.mt-5 { margin-top: 30px !important;}

.pl-0 { padding-left: 0px !important;}
.pl-1 { padding-left: 2px !important;}
.pl-2 { padding-left: 5px !important;}
.pl-3 { padding-left: 13px !important;}
.pl-4 { padding-left: 20px !important;}
.pl-5 { padding-left: 30px !important;}

.pt-0 { padding-top: 0px !important;}
.pt-1 { padding-top: 2px !important;}
.pt-2 { padding-top: 5px !important;}
.pt-3 { padding-top: 13px !important;}
.pt-4 { padding-top: 20px !important;}
.pt-5 { padding-top: 30px !important;}

.px-5 { padding-left: 30px !important; padding-right: 30px !important;}

// @import './../../../semantic/dist/semantic.min.css';